.jackets-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.jackets-container div {
  background-color: #ededed;
  padding: 10px;
  text-align: center;
}

.jackets-container img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  margin-top: 10px;
}

/* @media (min-width: 480px) {
  grid-template-columns 
}

@media (min-width: 768px) {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 920px) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
} //*
