.jackets-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.jackets-container div {
  background-color: #ededed;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jackets-container img, .jacket-container img {
  width: 100%;
  height: auto;
  display: block;
}

.jacket-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.jacket-item-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

/* @media (min-width: 480px) {
  grid-template-columns 
}

@media (min-width: 768px) {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 920px) {
  grid-template-columns: 1fr 1fr 1fr 1fr;
} //*
