*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: inherit;
}
