/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #fff;
  --color-secondary: #17414d;
  --accent-color: #4d8292;
  --text-color: black;
  --max-width: 1100px;
  --heading-font: Verdana, Geneva, Tahoma, sans-serif;
  --body-font: Verdana, Geneva, Tahoma, sans-serif;
}
