/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.main {
  max-width: var(--max-width);
}

.body {
  background-color: #ffffff;
  margin: 20px;
}

.navbar {
  background: #17414d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal margin-right 25px;
  padding: 30px;
}

h1 {
  color: #17414d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}

#logo {
  width: 10%;
  height: 10%;
}

h2 {
  color: #17414d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  color: #17414d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-bottom: 10px;
}

p {
  color: #17414d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

#couple {
  float: center;
  flex: auto;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
}

#header {
  font-size: 50px;
  font-weight: bold;
  width: none;
  height: none;
  text-align: center;
  margin-bottom: 30px;
}

#intro {
  width: none;
  height: none;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.footer-container1 {
  background-color: #17414d;
  padding-bottom: 4rem 0 4rem 0;
}

#footer-text {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#logo2 {
  align-items: center;
  width: 10%;
  height: 10%;
}

button {
  background-color: #17414d;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

button:hover {
  background-color: #4d8292;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

#our-collection {
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #17414d;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4d8292;
}

#firm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

img {
  width: 50%;
  height: auto;
}
